.navStyling {
  background-color: #201e1e;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 4rem;

  img {
    width: 3rem;
    height: 3rem;
    margin-left: 2rem;
  }

  div {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-right: 2rem;
  }
}

.link {
  color: #ffffff;
  text-decoration: none;
  transition: color 0.2s ease;
}

.activeLink {
  color: #55ec20;
  text-decoration: none;
}
